[Unit]
Description=Kohya Shadowsocks Service
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/kohya_ss
ExecStart=/home/ubuntu/kohya_ss/gui.sh --listen 127.0.0.1 --server_port 3010 --headless

[Install]
WantedBy=multi-user.target
